.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  /* background-color: #fff; */
  background-color: #232323;
  padding-left: 20px;

  /* Toggle Sidebar Button */
  /* Search Bar */
}

@media (min-width: 1200px) {
  .col-xl-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
  }
}

.footer-bottom {
  border-top: 1px solid hsla(0, 0%, 100%, .3);
  font-size: 12px;
  color: #3c4652;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.pt3 {
  padding-top: var(--spacing-medium);
}
.pb3 {
  padding-bottom: var(--spacing-medium);
}
footer {
  background: #000;
  box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, .4);
  color: #fff;
  width: 100%;
  margin-top: auto;
}

footer .sub-menu a {
  color: hsla(0, 0%, 100%, .6);
  font-size: 12px;
  font-weight: 100;
  text-transform: none;
  border-bottom: none;
}
footer .menu a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 20px !important;
}

footer .sub-menu a {
  color: hsla(0, 0%, 100%, .6);
  font-size: 12px;
  font-weight: 100;
  text-transform: none;
  border-bottom: none;
}

footer ul {
  list-style: none;
  padding: 0;
}

.main-body {
  padding-bottom: 24px;
  padding-top: 24px;
}

.feeds {
  background-color: #fff;
}

.site-width {
  margin: 0 auto;
  max-width: 1024px;
  /* width: 80vw */
}

.site-header-width {
  margin: 0 auto;
  margin-left: 0px;
  max-width: 1024px;
  /* width: 80vw */
}

.header-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}


#banner {
  padding-top: 18px;
  padding-bottom: 12px;
  /* margin-top: 72px; */
  box-shadow: 0 3px 6px #bdbdbd;
}

#banner h2,#banner h3 {
  font-weight: 300
}

#banner #logo {
  height: 125px;
  max-width: 100%;
  width: auto
}

#banner .banner-title {
  margin-bottom: 8px
}

#banner .banner-description .banner-meta {
  padding: 0 32px
}

#banner .banner-description .banner-meta h3 {
  margin-bottom: 8px
}

@media (max-width: 767px) {
  #banner {
      line-height:16px;
      padding: 16px;
  }

  .banner-info {
      -ms-flex-item-align: start;
      -webkit-align-self: flex-start;
      align-self: flex-start;
      line-height: 24px;
      width: 100%
  }

  .banner-description {
      -ms-flex-align: center;
      -ms-flex-direction: column;
      -webkit-align-items: center;
      -webkit-flex-direction: column;
      align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column
  }

  .banner-title {
      font-size: 6vw
  }

  .banner-meta {
      display: none
  }

}

@media (min-width: 768px) {
  #banner .banner-title,#banner paper-button {
      margin-bottom:16px
  }

  .banner-info {
      line-height: 32px;
      margin-right: 32px
  }

  .banner-info a {
      text-decoration: underline
  }

  .banner-description {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex
  }

  .banner-description .banner-info {
      -ms-flex: 1;
      -webkit-flex: 1;
      flex: 1
  }
}

/*
Tiles - Event Feeds 
*/

.my-shuffle-container {
  position: relative;
  overflow: hidden;
}

.my-sizer-element {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.filter-label {
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 4px;
  color: #95a5a6;
}

.filters-group {
  padding: 0;
  margin: 0 0 4px;
  border: 0;
}

#intro {
  background: linear-gradient(-45deg, #20262a, #000, #009193, #00ad93);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  text-align: center;
  color: #fff !important;
  border-bottom: 1px solid #eceeef;
}

@media screen and (min-width: 768px) {
  .filters-group-wrap {
    display: flex;
    justify-content: space-between;
  }
}
.btn-group:after,.btn-group:before {
  content: " ";
  display: table
}

.btn-group:after {
  clear: both
}

.btn-group .btn {
  float: left;
  border-radius: 0
}

.btn-group .btn:first-child {
  border-radius: 3px 0 0 3px
}

.btn-group .btn:not(:first-child) {
  margin-left: -1px
}

.btn-group .btn:last-child {
  border-radius: 0 3px 3px 0
}

.btn-group label.btn input[type=radio] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none
}

.btn.btn-feed {
  display: inline-block;
  padding: .75em .8em;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #232323;
  color: #232323;
  font-size: 1rem;
  background-color: rgba(52,73,94,0);
  transition: .2s ease-out;
  cursor: pointer;
  -webkit-appearance: none
}

@media (-moz-touch-enabled:0),(pointer: fine) {
  .btn.btn-feed:hover {
    color:#fff;
    text-decoration: none;
    background-color: #232323
  }
}

.btn.btn-feed:focus {
  outline-width: 0;
  box-shadow: 0 0 0 2px rgba(52,73,94,.4)
}

.btn.btn-feed.active,.btn.btn-feed:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  color: #fff;
  background-color: #232323
}

.btn.btn-feed:focus.active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3),0 0 0 2px rgba(52,73,94,.4)
}

.btn.btn-feed:disabled {
  cursor: not-allowed;
  opacity: .7;
  color: #232323;
  background-color: rgba(52,73,94,0)
}

.btn.btn-feed.btn-primary {
  color: #3498db;
  border-color: #3498db;
  background-color: rgba(52,152,219,0)
}

@media screen and (max-width: 767px) {
  .btn {
    font-size:.875rem
  }
}

.textfield {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #95a5a6;
  border-radius: 4px;
  padding: .5em;
  font-size: 1rem;
  color: #232323;
  transition: .15s
}

.textfield::-webkit-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield:-ms-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield::-ms-input-placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield::placeholder {
  color: #95a5a6;
  transition: .15s
}

.textfield:hover {
  outline-width: 0;
  color: #5d6d77;
  border-color: #5d6d77
}

.textfield:hover::-webkit-input-placeholder {
  color: #5d6d77
}

.textfield:hover:-ms-input-placeholder {
  color: #5d6d77
}

.textfield:hover::-ms-input-placeholder {
  color: #5d6d77
}

.textfield:hover::placeholder {
  color: #5d6d77
}

.textfield:focus {
  outline-width: 0;
  border-color: #232323
}

.textfield:focus::-webkit-input-placeholder {
  color: #232323
}

.textfield:focus:-ms-input-placeholder {
  color: #232323
}

.textfield:focus::-ms-input-placeholder {
  color: #232323
}

.textfield:focus::placeholder {
  color: #232323
}

.container {
  /* padding-left: 3.5%; */
  /* padding-right: 3.5%; */
  padding-top: 1em;
  max-width: unset !important;
  width: 90% !important;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.align-center {
  /* display: flex; */
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-right {
  display: flex;
  align-items: right;
}

.solly-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solly-icon {
  width: 260px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}

.feed-title {
  margin-right: 20px;
}

.nav-link-button {
  cursor: pointer;
}

.text-color-white {
  color: #fff !important;
}

.text-description {
  height: 120px;
  max-height: 120px;
  overflow: scroll;
}

.info-card {
  border-top: 3px solid #02C895;
}
.info-card .feed-tile {
  font-size: 20px !important;
}
.cart-tile {
  height: 350px !important;
}

.wrap-text {
  word-break: break-all;
}

.runner-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 10px;
  position: relative;
}

.runner-nav {
  justify-content: center;
}

.selection-border {
  border-color: #012970; 
}

#info-icon {
  font-size: 2rem;
}

#event-icon {
  font-size: 2rem;
}

#broker-icon {
  font-size: 2rem;
}

#action-icon {
  font-size: 2rem;
}

.item-text {
  font-size: 1.2rem;
}

.color-#02C895 {
  color: #02C895;
}

.connect-btn-group {
  height: fit-content;
}

.banner-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}
#connecton-load-label {
  display: inline-block;
  padding: .75em .8em;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #232323;
  color: #232323;
  font-size: 1rem;
  background-color: rgba(52,73,94,0);
  transition: .2s ease-out;
  cursor: pointer;
	display: block;
	margin: 0 auto;
}

#connecton-load-label:hover {
  color: white;
  background-color: #232323;
}


#connecton-load {
	display: none;
}

#connect-broker {
  padding: 0.25em;
}

.connected-icon-holder {
  float: right;
}

#connected-icon {
  font-size: 2rem;
  color: red;
  padding-right: 20px;
}

.feed-event-item {
  padding: 20px;
  background-color: #f6f9ff;
}

.feed-event-item:hover {
  background-color: #f6f9ff;
}

#feed-settings-div {
  transition: all 0.3s; /* Smooth transition for expanding and collapsing */
  /* padding: 10px; */
}
#feed-logs-div {
  /* min-height: calc(100vh - 465px); */
  transition: all 0.3s; /* Smooth transition for expanding and collapsing */
  flex-grow: 1;
  /* background-color: white; */
  box-sizing: border-box;
}

.single-message {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.scroll {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin:10px;
  padding:4px;
  /* border: 1px solid #232323; */
  color: #232323;
  background-color: rgba(52,73,94,0);
  /* width: 500px; */
  /* height: 400px; */
  /* height: 100%; */
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  /* text-align:justify; */
  overflow-y: auto;
  /* display: flex; */
  /* flex-direction: column; */

}

.feed-panel {
  display: flex; 
  flex-direction: column; 
  /* height: 100vh; */
  min-height: calc(100vh - 465px);;
}

.settings-fab-container {
  position:fixed;
  top:90px;
  right:50px;
  float: right;
  cursor:pointer;
}

.log-fab-container{
  position:fixed;
  right:50px;
  float: right;
  cursor:pointer;
}

.iconbutton{
  width:50px;
  height:50px;
  border-radius: 100%;
  background: #02C895; /* #FF4F79; */
  box-shadow: 5px 5px 3px #aaaaaa;
}
.iconbutton i{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  color:white;
}

#empty-log-content {
  display: none;
}

.smalliconbutton{
  width:25px;
  height:25px;
  border-radius: 100%;
  background: darkgray; /* #FF4F79; */
  box-shadow: 5px 5px 3px lightgray;
}
.smalliconbutton i{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  color:white;
}

.smalliconbutton{
  width:50px;
  height:50px;
  border-radius: 100%;
  background: darkgray; /* #FF4F79; */
  box-shadow: 5px 5px 3px #aaaaaa;
}
.smalliconbutton i{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  color:white;
}


#feed-status-log {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-error {
  color: red;
}

.feed-status {
  color: #02C895;
}

.color-red {
  color: red;
}

.color-gray {
  color: darkgray;
}

.trans--grow{
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
  /* width : 100vw; */
}

.trans--fit{
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
}

.hr1{
  margin-left:0;
  border-top: 3px solid #02C895
}

.scroll-to-top {
  background-color: #02C895;
}

#show-hide-settings {
  position: fixed;
  right: 15px;
  top: 75px;
  z-index: 99999;
  background: #02C895;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

#show-hide-settings i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

#empty-log-content {
  position: fixed;
  right: 15px;
  z-index: 99999;
  background: #02C895;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

#empty-log-content i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.show-advanced-settings {
  color: darkgray;
}

.sort-selected,
.copy-to-clipboard {
  background-color: #02C895;
  color: white;
  cursor: pointer;
}

.feed-msg-name {
  background-color: #00c895;
  color: white;
}

.feed-msg-counter {
  background-color: #ed3c0d;
  color: white;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.empty-clipboard {
  margin-left: 44px;
}

.page-link {
  color: #02C895 !important;
  border-color: #02C895 !important;
}

.active>.page-link, .page-link.active {
  color: white !important;
  background-color: #02C895 !important;
}

.btn-feeds-primary {
  --bs-btn-color: #02C895;
  --bs-btn-border-color: #02C895;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #02C895;
  --bs-btn-hover-border-color: #02C895;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #02C895;
  --bs-btn-active-border-color: #02C895;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #02C895;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #02C895;
  --bs-gradient: none;
}

input[type=checkbox]{
  width: 20px;
  height: 20px;
}

input[type='checkbox'] {
  accent-color: #02C895;
}

input[type=checkbox]:checked{
  width: 20px;
  height: 20px;
}

input[type=radio]{
  width: 20px;
  height: 20px;
}

input[type='radio'] {
  accent-color: #02C895;
}

input[type=radio]:checked{
  width: 20px;
  height: 20px;
}

.anon-contributor {
  color: #02C895 !important;
}

/* HEADER - from Tutorials Site */
.bg-dark {
  background: #20262a!important
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.navbar-dark {
  --bs-navbar-color: hsla(0, 0%, 100%, 0.55);
  --bs-navbar-hover-color: hsla(0, 0%, 100%, 0.75);
  --bs-navbar-disabled-color: hsla(0, 0%, 100%, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: hsla(0, 0%, 100%, 0.1);
  --bs-navbar-toggler-icon-bg: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}

@media (min-width: 992px) {
  .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
}

/* NAVBAR */
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.btnSmall {
  font-size: 12px;
  line-height: 14px;
  color: #20262a;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 70px;
  height: 24px;
  text-align: center;
  background: #f2f2f2;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
}

.pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #02C895;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 12px;
  max-width: 100%;
  overflow: auto;
  padding: 5px;
  display: block;
  word-wrap: break-word;
}

pre.json-message {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.pre1 {
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
  padding: 5px;
  word-wrap: break-word;
  color:#0d6efd;
}

.bi-large-icon {
  font-size: 2rem;
}

.bx-large-icon:hover, .bi-large-icon:hover {
  color: #02C895;
}

.accordion-button:not(.collapsed) {
  color: #02C895;
}